/*.message{
    font-size: 21px;
    margin-left: 3px;
    margin-right: 3px;
}*/

#listBroadcast ng-template,#listMessages ng-template{
    border-bottom-color: transparent;
}

image{
    background-color: transparent;
}