<ActionBar class="action-bar" [title]="connect.app_name">
    <ActionItem (tap)="sendAdvertising()"
      text="ارسال اعلان" android.position="popup"></ActionItem>

      <GridLayout columns="auto,*">
        <Image id="userAvatar"  col='0' [src]="connect.server + connect.user.pic" class="avatar" height="50" width="50"></Image>
        <Button id="userTopic" col='1' [text]="connect.user.topic" (tap)="showInfo()" class="btn btn-primary"></Button>
    </GridLayout>
</ActionBar>

<TabView class="tab-view" selectedIndex="0">
    <GridLayout rows="*,50" *tabItem="{title: 'الدردشة', iconSource: 'res://logo_white_bg'}">
        <ListView row="0" id="listMessages" [items]="connect.messages" >
            <ng-template let-item="item">
                <StackLayout>
                    <GridLayout columns="50,auto,auto,*" style="vertical-align: center;">
                        <image col="0" class="message" [src]='item.avatar' height="50"></image>
                        <image col="1" [src]='item.power' height="25" width="auto"></image>
                        <image col="2" [src]='item.dr3' height="25" width="auto"></image>
                        <button col="3" [text]='item.from' class="btn" (tap)="showInfo(item.id)" [style]='"background-color:" + item.background + ";color:" + item.color + ";"'></button>
                    </GridLayout>
                    <label [text]='item.message' textWrap="true" class="btn message" [style]='"color:" + item.messageColor + ";"'></label>
                </StackLayout>
            </ng-template>
        </ListView>
        <GridLayout row="1" columns="100,*">
            <button col="0" class="btn btn-primary" text="ارسال" (tap)="sendMessage()"></button>
            <TextField  col="1" id="messageinput" returnKeyType="send"  (returnPress)="sendMessage()" height="100"></TextField>
        </GridLayout>
    </GridLayout>
    <GridLayout rows="50,*" *tabItem="{title: 'الحائط', iconSource: 'res://logo_white_bg'}">
        <GridLayout row="0" columns="100,*">
            <button col="0" class="btn btn-primary" text="ارسال" (tap)="sendBroadcast()"></button>
            <TextField  col="1" id="broadcastinput" returnKeyType="send"  (returnPress)="sendBroadcast()" height="100"></TextField>
        </GridLayout>
        <ListView row="1" id="listBroadcast" [items]="connect.broadcasts" >
            <ng-template let-item="item">
                <StackLayout>
                    <GridLayout columns="50,auto,auto,*" style="vertical-align: center;">
                        <image col="0" class="message" [src]='item.avatar' height="50"></image>
                        <image col="1" [src]='item.power' height="25" width="auto"></image>
                        <image col="2" [src]='item.dr3' height="25" width="auto"></image>
                        <button col="3" [text]='item.from' class="btn" (tap)="showInfo(item.id)" [style]='"background-color:" + item.background + ";color:" + item.color + ";"'></button>
                    </GridLayout>
                    <label [text]='item.message' textWrap="true" class="btn message" [style]='"color:" + item.messageColor + ";"'></label>
                </StackLayout>
            </ng-template>
        </ListView>
    </GridLayout>
    <StackLayout class="tab-view" rows="*" id="tabNotifications" *tabItem="{title: 'الأشعارات', iconSource: 'res://logo_white_bg'}">
        <ListView row="0" id="listNotifications" [items]="connect.notifications" >
            <ng-template let-item="item">
                <StackLayout>
                    <GridLayout columns="50,*" rows="*">
                        <image row="0" col="0" class="message" [src]='item.image' height="50"></image>
                        <label row="0" col="1" textWrap="true" [text]='item.message' textWrap="true" class="message" style="vertical-align: center;text-align: center;"></label>
                    </GridLayout>
                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>
    <GridLayout rows="*" *tabItem="{title: 'الغرف', iconSource: 'res://logo_white_bg'}">
        <ListView row="0" id="listRooms" [items]="connect.rooms">
            <ng-template let-item="item" let-i="index">
                <GridLayout columns="100,*">
                    <image col="0" class="message" [src]='connect.server+item.pic' height="100"></image>
                    <GridLayout col="1" rows="*,*">
                        <GridLayout row="0" columns="*,70">
                            <button col="0" [text]='item.topic' class="btn btn-primary" (tap)='joinRoom($event,item.id)'></button>                            
                            <label  col="1" [text]='item.online + " / " + item.max' class="message" style='vertical-align: center;text-align: center;'></label>
                        </GridLayout>
                        <label  row="1" [text]='item.about' textWrap="true" class="message"></label>
                    </GridLayout>
                </GridLayout>
            </ng-template>
        </ListView>
    </GridLayout>
    <GridLayout rows="*" id="tabOnlines" *tabItem="{title: 'المتصلين', iconSource: 'res://logo_white_bg'}">
        <ListView row="0" id="listOnline" [items]="connect.users" >
            <ng-template let-item="item">
                <StackLayout>
                    <GridLayout columns="50,auto,auto,*">
                        <image col="0" class="message" [src]='connect.server+item.pic' height="50"></image>
                        <image col="1" [src]='item.sico' height="25" width="auto"></image>
                        <image col="2" [src]='item.dico' height="25" width="auto"></image>
                        <button col="3" [text]='item.topic' (tap)="showInfo(item.id)" class="btn" [style]='"background-color:" + item.bg + ";color:" + item.ucol + ";"'></button>
                    </GridLayout>
                    <label [text]='item.msg' textWrap="true" class="message" [style]='"color:" + item.mcol + ";"'></label>
                </StackLayout>
            </ng-template>
        </ListView>
    </GridLayout>
</TabView>