@import "~/theme.css";

#listBroadcast ng-template,#listMessages ng-template{
    border-bottom-color: transparent;
}

image{
    background-color: transparent;
}

.avatar{
    background: white;
    border-radius: 50px;
}